.App {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App h1 {
  margin: 20px;
}

.red {
  color: red;
}

.green {
  color: green;
}
